/* COLORS */

$primary_color: #da3376;
$secondary_color: #333;
$border_color: #ccc;

/* Gradients */
$overlay: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.57));

/* Other */
$background: no-repeat center center/cover;
